Doc_KPIs_Looker.docx
Full_Project_Explained.docx
KPIs_Significance.docx
__pycache__/
dashboard_dataframe.ipynb
hotel_kpis.csv
hotel_market_segments.csv
~$c_KPIs_Looker.docx
~$ll_Project_Explained.docx